extends layout

block content
  .row
    .col-lg-12
      h2= title
      form(method='POST', action='')
        fieldset
          legend New Comment
          .form-group
            label(for='inputName') Name
            input#inputName.form-control(aria-describedby='nameHelp', type='text', placeholder='Enter name', name='name')
            small#nameHelp.form-text.text-muted This will appear above your comment.
          .form-group
            label(for='inputComment') Comment
            textarea#textareaComment.form-control(rows='3', placeholder='Please share your experience/expectation.', name='comment')
            small#nameHelp.form-text.text-muted Polite Notice: No spoilers please, and no rude comments!.    
            br    
            input.btn.btn-success(type='submit', value='Submit')
       

      







